<% content_for(:title, form_title) %>
<%= form_with(model: @spot, local: true, url: choose_new_or_edit ) do |f| %>
  <% if @spot.errors.any? %>
    <div>
      <h5><%= t('errors.messages.title') %></h5>
      <div>
        <ul>
          <% @spot.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <div class="field">
    <%= f.text_field :name, size: 54, placeholder:t('activerecord.attributes.spot.name') %>
  </div>
  <div class="field">
    <% @spot.images.each do |image| %>
      <%= image_tag(image.url) if image && image.url %>
    <% end %>
    <%= f.file_field :images, multiple: true %>
    <%= f.hidden_field :images_cache %>
  </div>
  <div class="field">
    <%= f.select :area, Spot.areas.keys.map { |k| [t("enum.spot.area.#{k}"), k] }, { include_blank: t('views.messages.select_area') } %>
  </div>
  <div class="field">
    <%= f.text_field :address, size: "54", placeholder:t('activerecord.attributes.spot.address') %>
  </div>
  <div class="field">
    <%= f.text_field :phone, maxlength: "21", placeholder:t('activerecord.attributes.spot.phone') %>
  </div>
  <div class="field">
    <%= f.text_field :holiday, maxlength: "10", placeholder:t('activerecord.attributes.spot.holiday') %>
  </div>
  <div class="field">
    <%= f.text_field :sales_copy, size: "54", placeholder:t('activerecord.attributes.spot.sales_copy') %>
  </div>
  <div class="field">
    <%= f.text_area :detail_description, size: "50x10", placeholder:t('activerecord.attributes.spot.detail_description') %>
  </div>
  <div class="field">
    <%= f.text_area :simple_description, size: "50x2", placeholder:t('activerecord.attributes.spot.simple_description') %>
  </div>
  <div class="actions">
    <%= f.submit t('views.button.confirm') %>
  </div>
<% end %>
