<% content_for(:title, form_title) %>
<%= form_with(model: @spot, local: true, url: choose_new_or_edit ) do |f| %>
  <% if @spot.errors.any? %>
    <div class="form-error-message">
      <h5>以下のエラーがあります。</h5>
      <div id="error_explanation">
        <ul>
          <% @spot.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <div class="field">
    <%= f.text_field :name, size: 54, placeholder:"スポット名を入力" %>
  </div>
  <div class="field">
    <% @spot.images.each do |image| %>
      <%= image_tag(image.url) if image && image.url %>
    <% end %>
    <%= f.file_field :images, multiple: true %>
    <%= f.hidden_field :images_cache %>
  </div>
  <div class="field">
    <%= f.select :area, ['県北', '県央', '県西', '県南', '鹿行'], {include_blank: '所在エリアを選択する'} %>
  </div>
  <div class="field">
    <%= f.text_field :address, size: "54", placeholder:"住所を入力" %>
  </div>
  <div class="field">
    <%= f.text_field :phone, maxlength: "21", placeholder:"電話番号を入力" %>
  </div>
  <div class="field">
    <%= f.text_field :holiday, maxlength: "10", placeholder:"定休日を入力" %>
  </div>
  <div class="field">
    <%= f.text_field :sales_copy, size: "54", placeholder:"セールスコピーを入力" %>
  </div>
  <div class="field">
    <%= f.text_area :detail_description, size: "50x10", placeholder:"詳細説明を入力" %>
  </div>
  <div class="field">
    <%= f.text_area :simple_description, size: "50x2", placeholder:"簡易説明を入力" %>
  </div>
  <div class="actions">
    <%= f.submit "入力内容を確認する" %>
  </div>
<% end %>
