<% content_for(:title, 'chokkura') %>
<% @spots.each do |spot| %>
  <div style="border: 1px solid black;" class="mb-2">
    <div><%= spot.area %></div>
    <div>
      <%= link_to spot_path(spot.id) do %>
        <h5><%= spot.name %></h5>
      <% end %>
      <% spot.images.each do |image| %>
        <% if image && image.url %>
          <%= image_tag(image.url, style: "max-width: 100px; max-height: 100px;") %>
        <% end %>
      <% end %>
      <div><%= spot.simple_description %></div>
      <div>
        <ul>
          <% spot.tags.each do |tag| %>
            <li><span class="badge bg-info"><%= tag.name %></span></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
