<% content_for(:title, 'chokkura') %>
<div class="key_visual_area">
  <%= image_tag '/assets/key_visual1.png', class: "key_image" %>
  <%= image_tag '/assets/key_visual2.jpg', class: "key_image"  %>
  <%= image_tag '/assets/key_visual3.jpg', class: "key_image"  %>
  <%= image_tag '/assets/key_visual4.png', class: "key_image"  %>
  <div class="copy">
    <h4>いばらき、いちど来てみで！</h4>
    <span>
      海、山、湖、自然あふれる場所。<br />
      都心からでも思い立ったらすぐ行けます。<br />
      ちょっとしたお出かけ気分で行ってみませんか？
    </span>
  </div>
</div>
<div class="container mt-4">
  <div class="p-0 mb-4 spot_index_header">
    <%= image_tag '/assets/spot_title.png' %>
    <div class="spot_search_area row">
      <%= form_with url: search_spots_path, method: :get, local: true do |f| %>
        <div class="col-auto">
          <%= f.select :key_tag_id, Tag.all.collect { |l| [l.name, l.id] }, { include_blank: t('views.messages.select_tag') }, class:"form-control-lg", value: @key_tag_id  %>
        </div>
        <div class="col-auto pl-1">
          <%= f.submit t('views.button.search'), class:"form-control form-control-lg" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row justify-content-start">
    <% @spots.each do |spot| %>
      <div class=" col-12 col-md-6 col-lg-4">
        <div class="place-card">
          <div class="place-card__img">
            <% if spot.images.first && spot.images.first.url %>
              <%= link_to spot_path(spot.id) do %>
                <%= image_tag(spot.images.first.url) %>
              <% end %>
            <% end %>
          </div>
          <div class="place-card__content">
            <h3 class="place-card__content_header">
              <%= link_to spot_path(spot.id) do %>
                <%= spot.name %>
              <% end %>
              <% if user_signed_in? %>
                <% if spot.favorited_by?(current_user)  %>
                  <%= link_to favorite_path(spot), method: :delete do %>
                    <span class="bi bi-heart-fill" title="<%= t('views.messages.remove_favorite') %>"></span><% end %>
                <% else %>
                  <%= link_to favorites_path(spot_id: spot.id), method: :post do %>
                    <span class="bi bi-heart" title="<%= t('views.messages.add_favorite') %>"></span><% end %>
                <% end %>
              <% end %>
            </h3>
            <div class="flex-center">
              <p class="mb-0"><span class="text-muted"><%= spot.simple_description %></span></p>
            </div>
            <div class="flex-center">
              <p class="mb-0"><span class="text-muted"><%= tag.name %></span></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
