<% content_for(:title, @spot.name) %>
<% breadcrumb :spot_show, @spot %>
<div class="container">
  <div class="row justify-content-center px-4">
    <div class="show_title_area area-<%= @spot.area_before_type_cast %> col-12">
      <h1><%= @spot.name %></h1>
      <% if user_signed_in? %>
        <% if current_user.try(:admin?) %>
          <%= link_to edit_admin_spot_path do %>
            <span class="bi bi-pencil-square"></span><% end %>
          <%= link_to admin_spot_path(@spot.id), method: :delete, data: { confirm: t('views.messages.want_to_delete?') }  do %>
            <span class="bi bi-trash"></span><% end %>
        <% end %>
      <% end %>
    </div>
    <div class="show_key_visual col-12 mb-5">
      <% if @spot.images.first && @spot.images.first.url %>
        <%= image_tag(@spot.images.first.url) %>
      <% end %>
      <div class="copy">
        <h3><%= @spot.sales_copy %></h3>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-5">
      <aside class="sidebar fixed border shadow-sm bg-white row">
        <div class="area area-bg-<%= @spot.area_before_type_cast %> col-9 mb-2">
          <%= link_to search_spots_path(area: @spot.area), class:"text-white text-decoration-none", name: @spot.area do %>
            <%= @spot.area %><%= t('views.messages.area') %><% end %>
        </div>
        <div class="col-3">
          <div  class="fav-area">
            <% if user_signed_in? %>
              <% if @spot.favorited_by?(current_user)  %>
                <%= link_to favorite_path(@spot), method: :delete, class:"unfav_btn" do %>
                  <span class="bi bi-heart-fill" title="<%= t('views.messages.remove_favorite') %>"></span><% end %>
              <% else %>
                <%= link_to favorites_path(spot_id: @spot.id), method: :post, class:"fav_btn" do %>
                  <span class="bi bi-heart" title="<%= t('views.messages.add_favorite') %>"></span><% end %>
              <% end %>
            <% else %>
              <%= link_to new_user_session_path, class:"fav_btn" do %>
                <span class="bi bi-heart" title="<%= t('views.messages.add_favorite') %>"></span><% end %>
            <% end %>
          </div>
        </div>
        <div class="spot_basic_title col-12 py-4 px-3">
          <h3><%= @spot.name %></h3>
        </div>
        <div class="spot_basic_attr col-12 py-1 px-3">
          <h3><span class="badge bg-light"><%= t('activerecord.attributes.spot.address') %></span></h3>
        </div>
        <div class="spot_basic_val col-12 py-1 px-5">
          <h4><%= @spot.address %></h4>
        </div>
        <div class="spot_basic_attr col-12 py-1 px-3">
          <h3><span class="badge bg-light"><%= t('activerecord.attributes.spot.phone') %></span></h3>
        </div>
        <div class="spot_basic_val col-12 py-1 px-5">
          <h4><%= @spot.phone %></h4>
        </div>
        <div class="spot_basic_attr col-12 py-1 px-3">
          <h3><span class="badge bg-light"><%= t('activerecord.attributes.spot.holiday') %></span></h3>
        </div>
        <div class="spot_basic_val col-12 py-1 px-5">
          <h4><%= @spot.holiday %></h4>
        </div>
        <div class="spot_basic_attr col-12 py-1 px-3">
          <h3><span class="badge bg-light"><%= t('activerecord.models.tag') %></span></h3>
        </div>
        <div class="spot_basic_val tags_field col-12 mb-2 py-1 px-2">
          <ul>
            <% @spot.tags.each do |tag| %>
              <li>
                  <%= link_to search_spots_path(tag_id: tag.id), title: tag.name do %>
                    <span id="tagged_<%= tag.id %>" class="badge bg-info text-white"><%= tag.name %></span><% end %>
                </li>
            <% end %>
          </ul>
        </div>
      </aside>
    </div>
    <div class="main col-12 col-md-8 pl-0 pl-md-4 pr-0">
      <main>
        <article class="border shadow-sm bg-white p-4">
          <h3><span class="badge bg-light"><%= t('views.messages.spot_overview') %></span></h3>
          <div class="spot_description">
            <div class="my-3 clearfix">
              <% if @spot.images.second && @spot.images.second.url %>
                <figure>
                  <%= link_to @spot.images.second.url, "data-lightbox": @spot.images.second do %>
                    <%= image_tag(@spot.images.second.url) %>
                  <% end %>
                </figure>
              <% end %>
              <p>
                <%= @spot.detail_description %>
              </p>
            </div>
            <div class="my-5 clearfix">
              <% if @spot.images.third && @spot.images.third.url %>
                <figure>
                  <%= link_to @spot.images.third.url, "data-lightbox": @spot.images.third do %>
                    <%= image_tag(@spot.images.third.url) %>
                  <% end %>
                </figure>
              <% end %>
              <p>
                <%= @spot.detail_description %>
              </p>
            </div>
          </div>
        </article>
        <div class="show_map_area border shadow-sm bg-white mt-5 p-4">
          <h3><span class="badge bg-light"><%= t('views.messages.map_info') %></span></h3>
          <div class="gmap_container">
            <div id="gmap"></div>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
<%# Read google map %>
<%= render 'layouts/map' %>
