<% content_for(:title, t('views.title.edit_user_info')) %>
<% breadcrumb :edit_user, @user %>
<div class="form-wrapper">
  <div class="container justify-content-center">
    <div class="title_area">
      <h2><%= t('views.title.edit_user_info', resource: resource_name.to_s.humanize) %></h2>
    </div>
    <div>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="form-group shadow px-3 py-4 mb-5 mx-auto bg-white w-75 rounded justify-content-center">
          <div class="field py-2">
            <%= f.label :name, class:"badge" %>
            <%= f.text_field :name, placeholder: t('views.form_supplement.name'), autofocus: true, class:"input-font form-control form-control-lg"  %>
          </div>
          <div class="field py-2">
            <%= f.label :email, class:"badge" %>
            <%= f.email_field :email, placeholder: t('views.form_supplement.email'), autofocus: true, class:"input-font form-control form-control-lg" %>
          </div>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div class="field py-2">
              <%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %>
            </div>
          <% end %>
          <div class="field py-2">
            <%= f.label :password, class:"badge" %>
            <%= f.password_field :password, placeholder: t('views.form_supplement.new_password'), autocomplete: "new-password", class:"input-font form-control form-control-lg" %>
            <small class="form-text text-muted ml-2">(<%= t('.leave_blank_if_you_don_t_want_to_change_it') %>)</small>
            <%# <% if @minimum_password_length %>
            <%# <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) </em> %>
            <%# <% end %>
          </div>
          <div class="field py-2">
            <%= f.label :password_confirmation, class:"badge" %>
            <%= f.password_field :password_confirmation, placeholder: t('views.form_supplement.new_password_confirmation'), autocomplete: "new-password", class:"input-font form-control form-control-lg" %>
          </div>
          <div class="field py-2">
            <%= f.label :current_password, class:"badge" %>
            <%= f.password_field :current_password, placeholder: t('views.form_supplement.current_password'), autocomplete: "current-password", class:"input-font form-control form-control-lg" %>
            <small class="form-text text-muted ml-2">(<%= t('.we_need_your_current_password_to_confirm_your_changes') %>)</small>
          </div>
          <div class="field py-2">
            <%= f.label :location, class:"badge" %><br/>
            <%= f.select :location, User.locations.keys, {}, {class:"input-font form-control form-control-lg"} %>
          </div>
          <div class="actions mt-3 pt-4 border-top">
            <%= f.submit t('.update'), class:"w-75 mx-auto btn-primary input-font form-control form-control-lg" %>
          </div>
        </div>
      <% end %>
      <div class="actions mt-3">
        <%= button_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: t('.are_you_sure'), turbo_confirm: t('.are_you_sure') }, class:"w-50 mx-auto btn-danger input-font form-control form-control-lg", method: :delete %>
      </div>
      <%# <%= link_to t('devise.shared.links.back'), :back %>
    </div>
  </div>
</div>
