<% content_for(:title, t('views.messages.admin_menu')) %>
<div class="container justify-content-center">
  <div class="title_area">
    <h2><%= t('views.messages.admin_menu') %></h2>
  </div>
  <div class="row mt-4">
    <div class="col-4">
      <h5><%= t('activerecord.models.user') %></h5>
      <ul>
        <li><%= link_to t('views.messages.watch_users_index'), admin_users_path %></li>
        <li><%= t('views.messages.create_user') %></li>
      </ul>
    </div>
    <div class="col-4">
      <h5><%= t('activerecord.models.spot') %></h5>
      <ul>
        <li><%= link_to t('views.messages.watch_spots_index'), admin_spots_path %></li>
        <li><%= link_to t('views.messages.create_spot'), new_admin_spot_path %></li>
      </ul>
    </div>
    <div class="col-4">
      <h5><%= t('activerecord.models.tag') %></h5>
      <ul>
        <li><%= link_to t('views.messages.watch_tags_index'), admin_tags_path %></li>
        <li><%= link_to t('views.messages.create_tag'), new_admin_tag_path %></li>
      </ul>
    </div>
  </div>
</div>
