<% content_for(:title, "確認") %>
<h2>Confirm</h2>
<%= form_with(model: @tag, local: true, url: admin_tags_path ) do |f| %>
  <%= f.hidden_field :name %>
  <div>Name: <%= @tag.name %></div>
  <div>
    <%= f.submit "登録" %>
  </div>
<% end %>
<%= form_with(model: @tag, url:new_admin_tag_path, local:true, method:"get") do |f| %>
  <%= f.hidden_field :name %>
  <div>
    <%= f.submit "戻る", name: 'back' %>
  </div>
<% end %>
