<div class="form-wrapper">
  <div class="container justify-content-center">
    <div class="title_area">
      <h2><%= t('views.title.confirm_page') %></h2>
    </div>
    <div>
      <% content_for(:title, t('views.title.confirm_page')) %>
      <%= form_with(model: @tag, local: true, url: admin_tags_path ) do |f| %>
        <div class="form-group shadow px-3 py-4 mb-5 mx-auto bg-white w-100 rounded justify-content-center">
          <div class="field py-2">
            <%= f.label :name, class:"badge" %>
            <div class="w-100 pl-5 py-1"><%= @tag.name %></div>
          </div>
          <div class="actions mt-3 pt-4 border-top">
            <%= f.submit t('views.button.submit'), class:"w-75 mx-auto btn-primary input-font form-control input-font form-control-lg" %>
          </div>
        </div>
      <% end %>
      <%= form_with(model: @tag, url:new_admin_tag_path, local:true, method:"get") do |f| %>
        <%= f.hidden_field :name %>
        <div>
          <%= f.submit t('views.button.back'), class:"w-25 mx-auto btn-secondary input-font form-control form-control-lg", name: 'back' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
