<header class="header clearfix">
  <%= link_to root_path do %>
    <%= image_tag '/assets/title_logo.png', class: 'logo-image' %>
  <% end %>
  <div class="top_menu clearfix">
    <ul>
      <% if user_signed_in? %>
        <li><strong><%= link_to current_user.name, user_path(current_user.id) %></strong></li>
        <% if current_user.admin? %>
          <li><%= link_to t('views.messages.admin_menu'), admin_index_path %></li>
        <% end %>
        <li><%= link_to t('views.messages.logout'), destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to t('views.messages.signup'), new_user_registration_path %></li>
        <li><%= link_to t('views.messages.login'), new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</header>